PIN_B_DC_IN0=4
PIN_B_DC_IN1=16
PIN_B_DC_IN2=17
PIN_B_DC_IN3=2
PIN_W5500_MOSI=13
PIN_W5500_MISO=12
PIN_W5500_CLK=14
PIN_W5500_SCS=15
PIN_W5500_INT=27
PIN_W5500_RST=26
PIN_US_TRIG=25
PIN_US_L_ECHO=34
PIN_US_C_ECHO=35
PIN_US_R_ECHO=32